# Particle System dist

# main repository
git / https://github.com/OpenEngineDK/openengine.git

# required extensions
git /extensions/SDL             https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/OpenGLRenderer  https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/TGAResource     https://github.com/OpenEngineDK/extensions-TGAResource.git
git /extensions/OBJResource     https://github.com/OpenEngineDK/extensions-OBJResource.git
git /extensions/AccelerationStructures https://github.com/OpenEngineDK/extensions-AccelerationStructures.git

git /extensions/ParticleSystem  https://github.com/OpenEngineDK/extensions-ParticleSystem.git
git /extensions/PropertyList    https://github.com/OpenEngineDK/extensions-PropertyList.git
git /extensions/AntTweakBar     https://github.com/OpenEngineDK/extensions-AntTweakBar.git
git /extensions/Bindings	  https://github.com/OpenEngineDK/extensions-Bindings.git

# project
git /projects/PatSys https://github.com/OpenEngineDK/projects-PatSys.git



#data
any /projects/PatSys/data    http://www.openengine.dk/data/images/Smoke.zip
any /projects/PatSys/data    http://www.openengine.dk/data/images/particle.tga
